/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    color: #333;
    background-color: #000;
}

/* Contenedor principal */
.container {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1, h2 {
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.agregar, h2{
    margin-top: 50px;
}

/* Tabla de personas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table th, table td {
    padding: 12px;
    text-align: left;
}

table th {
    padding: 15px;
    text-align: left;
    background-color: #000;
    color: #ffffff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Botones */
button, a {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* Formulario */
form input, form button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

/* Focus de inputs */
form input:focus, form button:focus {
    border-color: #5e72e4;
    outline: none;
}

/* Modal de vista previa de la imagen */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
    border-radius: 8px;
}

.close {
    color: white;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #5e72e4;
    background-color: transparent;
}

/* Estilo del formulario */
form {
    display: grid;
    gap: 15px;
}

/* Input de imágenes */
input[type="file"] {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
}


/* Mensajes de éxito y error */
.success-message, .error-message {
    color: #ffffff;
    background-color: #28a745;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}

.error-message {
    background-color: #dc3545;
}
