<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
</head>
<body>
    <div class="carrito-container">
        <h1>Carrito de Compras</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        {% if session.get('carrito') %}
        <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in session['carrito'] %}
                <tr>
                    <td><img class="producto-img" src="{{ producto['foto'] }}" alt="Imagen Producto"></td>
                    <td class="producto-nombre">{{ producto['nombre'] }}</td>
                    <td class="producto-cantidad">{{ producto['cantidad'] }}</td>
                    <td class="producto-precio">${{ producto['precio'] }}</td>
                    <td class="total">${{ producto['cantidad'] * producto['precio'] }}</td>
                    <td><a class="eliminar" href="{{ url_for('eliminar_del_carrito', id_producto=producto['id']) }}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>El carrito está vacío.</p>
        {% endif %}

        <!-- Botón para volver a la tienda -->
        <a href="{{ url_for('tienda') }}" class="boton-volver">Volver a la tienda</a>
    </div>
</body>
</html>
