<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='uploads/login.png') }}" alt="Imagen Representativa" class="image">
        </div>
        <div class="form-container">
            <div class="form-box">
                <div class="bienvenido">
                    <h1 class="escribiendo">¡Bienvenido!</h1>
                </div>
                <p>Únete a nuestra comunidad con estilo.</p>
                <form action="/registro" method="POST">
                    <div class="input-group">
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre Completo" required>
                    </div>
                    <div class="input-group">
                        <input type="email" id="correo" name="correo" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="input-group">
                        <input type="text" id="usuario" name="usuario" placeholder="Nombre de Usuario" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="confirmar-contraseña" name="confirmar-contraseña" placeholder="Confirmar Contraseña" required>
                    </div>
                    <div class="input-group">
                        <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" required>
                    </div>
                    <div class="input-group">
                        <input type="tel" id="telefono" name="telefono" placeholder="Teléfono (opcional)">
                    </div>
                    {% if error %}
                        <p style="color: red;">{{ error }}</p>
                    {% endif %}
                    <button type="submit">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
